<main class="main">
  <nav class="breadcrumbs">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>" class="link-bread">Meeting Center</a></li>
      <li><a href="<%= building_path(@building.id) %>" class="link-bread">Building</a></li>
      <li>Nazev: <%= @building.title %></li>
    </ul>
  </nav>
  <div class="grid-today">
    <div class="today-group">
      <h1>PAR 1.1 - Albrecht</h1>
      <p>Dnes se v budově konají 3 události</p>
    </div>
    <img src="img/par1.1.jpg" alt="" class="today-img">
    <section class="today-schedule">
      <table class="table-schedule">
        <thead>
        <tr class="table-head">
          <th>Čas</th>
          <th>Předmět</th>
          <th>Místnost</th>
          <th>Vyučující</th>
          <th>Průběh</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-hover-today tr-text">
          <td>8:00 - 9:30</td>
          <td>Webové technologie <br></td>
          <td>Par 1.1</td>
          <td>Tomáš Jukyn</td>
          <td>
            <div class="progress-bar">
              <div class="progress-bar-100">
                <span class="progress-bar-text">100%</span>
              </div>
            </div>
          </td>
        </tr>

        <tr class="tr-hover-today tr-text">
          <td>9:35 - 11:10</td>
          <td>Webové technologie <br></td>
          <td>Par 1.1</td>
          <td>Tomáš Jukyn</td>
          <td>
            <div class="progress-bar">
              <div class="progress-bar-50">
                <span class="progress-bar-text">50%</span>
              </div>
            </div>
          </td>
        </tr>
        <tr class="tr-hover-today tr-text">
          <td>9:35 - 12:30</td>
          <td>Webové technologie <br></td>
          <td>Par 1.1</td>
          <td>Tomáš Jukyn</td>
          <td>
            <div class="progress-bar">
              <div class="progress-bar-25">
                <span class="progress-bar-text">25%</span>
              </div>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </section>
  </div>
</main>