<main class="main">
  <nav class="breadcrumbs">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>" class="link-bread">Meeting Center</a></li>
      <li><a href="<%= building_path(@room.building.id) %>" class="link-bread">Building</a></li>
      <li>Par 1.1 - Albrecht</li>
    </ul>
  </nav>
  <div class="grid-schedule">
    <h1>PAR 1.1 - Albrecht</h1>
    <section class="grid-table">
      <table class="table-schedule">
        <thead>
        <tr class="table-head">
          <th></th>
          <th>8:00-9:30</th>
          <th>9:35-11:10</th>
          <th>11:15-12:50</th>
          <th>12:55-14:30</th>
          <th>14:35-16:10</th>
          <th>16:15-17:50</th>
          <th>17:55-19:30</th>
          <th>19:35-21:10</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr-hover">
          <td>Pondělí</td>
          <td>WEB <br>Tomáš Jukyn</td>
          <td>--</td>
          <td>STI <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Úterý</td>
          <td>AJ <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>Makro <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>MAN <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Středa</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>MA1 <br>Horáček Jaroslav</td>
          <td>MA2 <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Čtvrtek</td>
          <td>--</td>
          <td>DEJ <br>Horáček Jaroslav</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Pátek</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>STI <br>Horáček Jaroslav</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Sobota</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>MA1 <br>Horáček Jaroslav</td>
          <td>MA1<br>Horáček Jaroslav</td>
          <td>MA1<br>Horáček Jaroslav</td>
          <td>--</td>
          <td>--</td>
        </tr>
        <tr class="tr-hover">
          <td>Neděle</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
          <td>--</td>
        </tr>
        </tbody>
      </table>
    </section>
  </div>
</main>