// Place all the styles related to the administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-wrapper{
  padding: 100px;
}

.admin-brick{

}

.admin-sec{
  width: 200px;
  height: 200px;
  background-color: #E85829;
  margin: 0;

}

.admin-href{
  width: 450px;
  height: 150px;
}

.admin-h3{
font-size: 0.8em;
}